@* the page for deactivating the account *@

@page

@model DeletePersonalDataModel

@{
    ViewData["Title"] = "Deactivate Account";
    ViewData["UserCentreFunction"] = "Deactivate account";
    ViewData["StorePage"] = HeaderNavigation.UserCentre;
    ViewData["UserCentrePage"] = UserCentreMenu.DeactivateAccount;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-7">
        <p class="text-justify">According to our <a asp-page="/Help/PrivacyPolicy" class="text-decoration-none text-success">privacy policy</a>, here you have the possibility to deactivate your account. We anonymise all personal data such as your customised avatar, email, address books, etc., so that identification is no longer possible. Please enter your password and then click the button to initiate the process.</p>
    </div>
    <div class="col-md-5">
        <div role="alert" class="alert alert-warning text-justify" style="font-size: 14px">
            <h6 class="alert-heading">Notes</h6>
            <p class="text-justify mb-0">1. <b class="text-danger">Account deactivation is irreversible!</b></p>
            <p class="text-justify mb-0">2. To deactivate your account, there should be <b>no incomplete orders</b>.</p>
        </div>
    </div>
</div>
<hr class="mx-3 mt-0" />
<div>
    <form method="post">
        <div class="form-group">
            <div class="e-float-input e-input-group e-success">
                <input asp-for="Input.Password" autofocus required />
                <span class="e-float-line"></span>
                <label asp-for="Input.Password" class="e-float-text"></label>
                <span id="password-eye" class="e-input-group-icon fas fa-eye-slash" title="Click to show the password." onclick="hideOrShowPassword()"></span>
            </div>
            <!-- the minimum and maximum length here should be equal to the relevant attributes in the specified input model -->
            <ejs-tooltip id="tooltip-password" content="Please enter the correct password and notice:<br />1. At least 8 and at max 20 characters long.<br />2. At least 1 digit (0 - 9) and 1 letter.<br />3. No non-alphanumeric character." position="LeftBottom">
                <e-content-template>
                    <span asp-validation-for="Input.Password" class="text-danger text-justify font-weight-bold" style="font-size: 13px"></span>
                </e-content-template>
            </ejs-tooltip>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger btn-block" @(Model.IncompleteOrdersCount == 0 ? string.Empty : "disabled")>Deactivate the account</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScripts" />
}