@* the page for an administrator to edit delivery info *@

@page

@model DeliveryInfoModel

@{
    ViewData["Title"] = "Edit Delivery Info";
    ViewData["Area"] = "Admin";
    ViewData["StorePage"] = HeaderNavigation.AdminSite;
    ViewData["AdminSitePage"] = AdminSiteMenu.Orders;
    ViewData["AdminSiteMenuItem"] = "orders";
    ViewData["AdminSiteFunction"] = "Edit delivery info";
}

@section AdditionalBreadcrumbItems {
    <li class="breadcrumb-item">
        <a asp-area="Admin" asp-page="/Orders/Index" class="text-decoration-none text-success">Admin - @ViewData["AdminSiteMenuItem"]</a>
    </li>
}

<form asp-area="Admin" asp-page="/Orders/DeliveryInfo" asp-route-id="@Model.CurrentOrderId" method="post">
    <p class="text-justify">※ All fields are required, and you have to ensure the reliability of information for successful delivery.</p>
    <div class="form-group row">
        <div class="col">
            <!-- the minimum and maximum length here should be equal to the relevant attributes in the specified input model -->
            <ejs-tooltip id="tooltip-first-name" content="At least 2 and at max 25 letters long,<br />with only the 1st letter uppercase." position="TopLeft">
                <e-content-template>
                    <div class="e-float-input e-success">
                        <input asp-for="Input.FirstName" required />
                        <span class="e-float-line"></span>
                        <label asp-for="Input.FirstName" class="e-float-text"></label>
                    </div>
                    <div class="text-justify">
                        <span asp-validation-for="Input.FirstName" class="text-danger font-weight-bold" style="font-size: 13px"></span>
                    </div>
                </e-content-template>
            </ejs-tooltip>
        </div>
        <div class="col">
            <!-- the minimum and maximum length here should be equal to the relevant attributes in the specified input model -->
            <ejs-tooltip id="tooltip-last-name" content="At least 2 and at max 25 letters long,<br />with only the 1st letter uppercase." position="TopRight">
                <e-content-template>
                    <div class="e-float-input e-success">
                        <input asp-for="Input.LastName" required />
                        <span class="e-float-line"></span>
                        <label asp-for="Input.LastName" class="e-float-text"></label>
                    </div>
                    <div class="text-justify">
                        <span asp-validation-for="Input.LastName" class="text-danger font-weight-bold" style="font-size: 13px"></span>
                    </div>
                </e-content-template>
            </ejs-tooltip>
        </div>
    </div>
    <div class="form-group">
        <!-- the length here should be equal to the relevant attribute in the specified input model -->
        <ejs-tooltip id="tooltip-detailed-address" content="At max 300 characters long." position="TopLeft">
            <e-content-template>
                <div class="e-float-input e-success">
                    <input asp-for="Input.DetailedAddress" required />
                    <span class="e-float-line"></span>
                    <label asp-for="Input.DetailedAddress" class="e-float-text"></label>
                </div>
                <div class="text-justify">
                    <span asp-validation-for="Input.DetailedAddress" class="text-danger font-weight-bold" style="font-size: 13px"></span>
                </div>
            </e-content-template>
        </ejs-tooltip>
    </div>
    <div class="form-group">
        <div class="e-float-input e-success">
            <input asp-for="Input.ZipOrPostalCode" required />
            <span class="e-float-line"></span>
            <label asp-for="Input.ZipOrPostalCode" class="e-float-text"></label>
        </div>
        <div class="e-control text-justify">
            <span asp-validation-for="Input.ZipOrPostalCode" class="text-danger font-weight-bold" style="font-size: 13px"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="e-float-input e-success">
            <input asp-for="Input.PhoneNumber" required />
            <span class="e-float-line"></span>
            <label asp-for="Input.PhoneNumber" class="e-float-text"></label>
        </div>
        <div class="e-control text-justify">
            <span asp-validation-for="Input.PhoneNumber" class="text-danger font-weight-bold" style="font-size: 13px"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block" @(!Model.IsEmailConfirmed ? "disabled" : string.Empty)>Save</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScripts" />
}