@* the page for resetting the password *@
@page

@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

@section BreadcrumbItems {
    <li class="breadcrumb-item active" aria-current="page">Account - reset password</li>
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md"></div>
    <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="text-center">@ViewData["Title"]</h1>
                <hr />
                <form asp-area="Identity" asp-page="/Account/ResetPassword" method="post">
                    <input asp-for="Input.UserId" type="hidden" readonly />
                    <input asp-for="Input.Code" type="hidden" readonly />
                    <div class="form-group">
                        <!-- the minimum and maximum length here should be equal to the relevant attributes in the specified input model -->
                        <ejs-tooltip id="tooltip-password" content="1. At least 8 and at max 20 characters long.<br />2. At least 1 digit (0 - 9) and 1 letter.<br />3. No non-alphanumeric character." position="LeftCenter">
                            <e-content-template>
                                <div class="e-float-input e-input-group e-success">
                                    <input asp-for="Input.Password" autofocus required />
                                    <span class="e-float-line"></span>
                                    <label asp-for="Input.Password" class="e-float-text"></label>
                                    <span id="password-eye" class="e-input-group-icon fas fa-eye-slash" title="Click to show the password." onclick="hideOrShowPassword()"></span>
                                </div>
                                <div>
                                    <span asp-validation-for="Input.Password" class="text-danger text-justify font-weight-bold" style="font-size: 13px"></span>
                                </div>
                            </e-content-template>
                        </ejs-tooltip>
                    </div>
                    <div class="form-group">
                        <div class="e-float-input e-input-group e-success">
                            <input asp-for="Input.ConfirmPassword" required />
                            <span class="e-float-line"></span>
                            <label asp-for="Input.ConfirmPassword" class="e-float-text"></label>
                            <span id="confirmation-password-eye" class="e-input-group-icon fas fa-eye-slash" title="Click to show the confirmation password." onclick="hideOrShowConfirmPassword()"></span>
                        </div>
                        <div class="e-control">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger text-justify font-weight-bold" style="font-size: 13px"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">OK</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md"></div>
</div>

@section Scripts {
    <partial name="_ValidationScripts" />
}