@* the page for listing other administrators *@
@page

@model IndexModel

@{
    ViewData["Title"] = "Other Administrators";
    ViewData["Area"] = "Admin";
    ViewData["StorePage"] = HeaderNavigation.AdminSite;
    ViewData["AdminSitePage"] = AdminSiteMenu.OtherAdministrators;
    ViewData["AdminSiteMenuItem"] = "other administrators";
}

<partial name="_StatusMessage" for="StatusMessage" />

@if (Model.IsEmailConfirmed)
{
    <a asp-area="Admin" asp-page="/OtherAdministrators/Create" role="button" class="btn btn-success rounded-circle mb-3" title="Create an administrator account.">
        <i class="fas fa-plus"></i>
    </a>

    if (Model.OtherAdministratorForm.Count() > 0)
    {
        @section Modal { 
            @foreach (var item in Model.OtherAdministratorList)
            {
                <div role="dialog" id="modal-deleting-confirmation-@item.Id" class="modal fade" tabindex="-1" aria-labelledby="modal-deleting-confirmation-@item.Id-title" aria-hidden="true">
                    <div role="document" class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 id="modal-deleting-confirmation-@item.Id-title" class="modal-title">Deleting Confirmation</h5>
                                <a role="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                            </div>
                            <div class="modal-body text-justify">Are you sure to delete the administrator account with the username "@item.UserName" permanently?</div>
                            <div class="modal-footer">
                                <form asp-area="Admin" asp-page="/OtherAdministrators/Index" asp-page-handler="Delete" asp-route-id="@item.Id" method="post">
                                    <button type="submit" class="btn btn-warning">Yes</button>
                                </form>
                                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        var defaultSortOrder = new List<object>()
        {
            new{ field = "Username", direction = "Ascending" }
        };

        <ejs-grid id="data-grid-other-administrators" allowFiltering="true" allowPaging="true" allowSelection="true" allowSorting="true" dataSource="@Model.OtherAdministratorForm" height="auto" load="formatDateTime" queryCellInfo="changeColumnContent" toolbar="@(new List<string>() { "Search" })" width="auto">
            <e-grid-filtersettings type="Excel"></e-grid-filtersettings>
            <e-grid-pagesettings pageSize="5" pageSizes="true"></e-grid-pagesettings>
            <e-grid-sortsettings columns="defaultSortOrder"></e-grid-sortsettings>
            <e-grid-columns>
                <e-grid-column field="Id" headerText="ID" allowSorting="false" clipMode="EllipsisWithTooltip" width="100"></e-grid-column>
                <e-grid-column field="Username" clipMode="EllipsisWithTooltip" template="#template-show-avatar" width="200"></e-grid-column>
                <e-grid-column field="FirstName" headerText="First name" clipMode="EllipsisWithTooltip" width="150"></e-grid-column>
                <e-grid-column field="LastName" headerText="Last name" clipMode="EllipsisWithTooltip" width="150"></e-grid-column>
                <e-grid-column field="Email" clipMode="EllipsisWithTooltip" width="200"></e-grid-column>
                <e-grid-column field="IsEmailConfirmed" headerText="Confirmed email" clipMode="EllipsisWithTooltip" template="#template-show-email-verification-status" width="100"></e-grid-column>
                <e-grid-column field="PhoneNumber" headerText="Phone number" allowFiltering="false" allowSorting="false" clipMode="EllipsisWithTooltip" width="180"></e-grid-column>
                <e-grid-column field="RegistrationTime" headerText="Registration time" clipMode="EllipsisWithTooltip" width="210"></e-grid-column>
                <e-grid-column template="#template-allow-actions" width="60"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>

        <script type="text/javascript">
            /** Format the date and time in the specified column. */
            function formatDateTime(args) {
                var otherAdministratorsDataGridArea = document.getElementById("data-grid-other-administrators").ej2_instances[0];
                for (var count = 0; count < otherAdministratorsDataGridArea.columnModel.length; count++) {
                    if (otherAdministratorsDataGridArea.columnModel[count].field == "RegistrationTime") {
                        otherAdministratorsDataGridArea.columnModel[count].format = { type: "datetime", format: "d MMMM yyyy HH:mm:ss" };
                    }
                }
            };

            /** Change the background colour of the badge for showing email verification status according to the content of the badge. */
            function changeColumnContent(args) {
                if (args.column.field === "IsEmailConfirmed") {
                    if (args.cell.textContent === "Yes") {
                        args.cell.querySelector(".email-verification-status").classList.add("badge-success");
                    }
                    if (args.cell.textContent === "No") {
                        args.cell.querySelector(".email-verification-status").classList.add("badge-danger");
                    }
                }
            };
        </script>
        <script type="text/x-jsrender" id="template-show-avatar">
            <div class="e-avatar e-avatar-xsmall e-avatar-circle mr-2" style="background-color: #bc8f8f">${Initials}</div>
            <span class="text-truncate">${Username}</span>
        </script>
        <script type="text/x-jsrender" id="template-show-email-verification-status">
            <span class="badge badge-pill font-weight-light email-verification-status" style="font-size: 13px">${IsEmailConfirmed}</span>
        </script>
        <script type="text/x-template" id="template-allow-actions">
            <a role="button" class="btn text-success grid-action" title="Delete this administrator account." data-toggle="modal" data-target="#modal-deleting-confirmation-${Id}">
                <i class="far fa-trash-alt"></i>
            </a>
        </script>
    }
    else
    {
        <div role="alert" class="alert alert-warning">Sorry! No other administrators found.</div>
    }
}